.coverage
coverage.xml
trivy-results.json
htmlcov/

.env
.env.*
!.env.example

.mypy_cache/
.pytest_cache/
__pycache__/
*.py[cod]

.venv/
.idea/

*.log

*.pem
*.key
*.p12
*.pfx
*.db
*.sqlite
*.dump
*.bak
